<div class="login-panel">
    <div class="new-window">
        <div class="login-bar">
            <h2 class="login-title">Edit Post</h2>
            <p class="back-button"><a href="javascript:history.back()">X</a></p>
        </div>
        
        <form action="/posts" method="post">
            
            <input type="text" name="title" class="login-input" value="<%= post.title %>" placeholder="Title*">
            <br>
            <input type="text" name="image_url" class="login-input" value="<%= post.image_url %>" placeholder="Image URL (optional)">
            <br>
            <textarea name="description" <%= post.description %> class="new-description" placeholder="Text (optional)"></textarea>
            <br>
            <input type="hidden" name="upvotes" value="0">
            <button class="login-input">Submit</button>
        </form>


    </div>
</div>
