<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reedit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    
    
    <header class="banner">
        <div class="banner-flex">
            <img src="https://i.postimg.cc/pVSvMPTD/banner-logo.png" alt="" class="banner-logo">
            <h1><a href="/posts">reedit</a></h1>

        </div>
        
        <% if (currentUser) { %> 
            <div class="banner-flex">
                <p><a href="/user/<%= currentUser %>"><%= currentUser %></a></p>
                
                <form action="/logout?_method=delete" method="post">
                    <button class="banner-button">logout</button>
                </form>
            </div>
        <% } else { %>
                <p class="banner-flex">
                    <a href="/login">login</a>
                </p>
                
        <% } %>
    </header>
    <div class="spacer"></div>

    <%-body%>
</body>
</html>