<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    
    
    <header class="banner">
        <h1><a href="/posts">Reedit</a></h1>
        
        <% if (currentUser) { %> 
            <div>
                <p>welcome back <%= currentUser %>!</p>
                
                <form action="/logout?_method=delete" method="post">
                    <button>logout</button>
                </form>
            </div>
        <% } else { %>
                <p>
                    <a href="/login">login</a>
                </p>
                
        <% } %>
    </header>
    <div class="spacer"></div>

    <%-body%>
</body>
</html>