<div class="login-panel">
    <div class="login-window">
        <div class="login-prompt-bar">
            <p class="back-button"><a href="javascript:history.back()">X</a></p>
        </div>
        <div class="login-prompt-spacer">

            Please <a href="/login" class="home-login">Log In</a> to vote on a comment
        </div>

        <p> New to reedit?  <a href="/signup" class="home-login">Sign Up</a></p>
    </div>
</div>