<h1>create new account</h1>

<form action="/users" method="post">
    <label for="">username</label>
    <input type="text" name="username">
    <label for="">email</label>
    <input type="email" name="email">
    <label for="">password</label>
    <input type="password" name="password">
    <button>create account</button>
</form>